//-
  Interface Button {
    title?: string 
    type?: enumString['button', 'link']
    icon?: string
    link?: string
    className?: string
    isReverse?: boolean
    large?: boolean
  }

mixin Button(data)
  if data.type === 'link'
    a.button-component.d-flex.align-items-center.justify-content-center(class=`${data.className} ${data.isReverse ? 'reverse' : '' } ${data.large ? 'large' : '' } ${!data.title ? 'radius-circle' : ''}` href=`${data.link}`)
      if data.icon 
        img(src=`${data.icon}`, alt="").button-icon
      else 
        if data.svg 
          svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M15.4419 10.097C15.686 10.341 15.686 10.7368 15.4419 10.9808L12.1086 14.3142C11.8645 14.5583 11.4688 14.5583 11.2247 14.3142C10.9806 14.0701 10.9806 13.6744 11.2247 13.4303L13.4911 11.1639L5 11.1639C4.65482 11.1639 4.375 10.8841 4.375 10.5389C4.375 10.1937 4.65482 9.9139 5 9.9139L13.4911 9.9139L11.2247 7.64751C10.9806 7.40343 10.9806 7.0077 11.2247 6.76362C11.4688 6.51955 11.8645 6.51955 12.1086 6.76362L15.4419 10.097Z" fill="#008253")
      .button-text 
        if data.title 
          span.button-title= data.title
          if data.subTitle
            small.button-sub-title= data.subTitle

  else
    button.button-component.d-flex.align-items-center.justify-content-center(class=`${data.className} ${data.isReverse ? 'reverse' : ''} ${data.large ? 'large' : '' } ${!data.title ? 'radius-circle' : ''}` type=`${data.typeInput ? data.typeInput : ''}`)
      if data.icon 
        img(src=`${data.icon}`, alt="").button-icon
      else 
        if data.svg 
          svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M15.4419 10.097C15.686 10.341 15.686 10.7368 15.4419 10.9808L12.1086 14.3142C11.8645 14.5583 11.4688 14.5583 11.2247 14.3142C10.9806 14.0701 10.9806 13.6744 11.2247 13.4303L13.4911 11.1639L5 11.1639C4.65482 11.1639 4.375 10.8841 4.375 10.5389C4.375 10.1937 4.65482 9.9139 5 9.9139L13.4911 9.9139L11.2247 7.64751C10.9806 7.40343 10.9806 7.0077 11.2247 6.76362C11.4688 6.51955 11.8645 6.51955 12.1086 6.76362L15.4419 10.097Z" fill="#008253")
      if data.title 
        span.button-title= data.title